body{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    background: #F0FFF0;
    margin-bottom: 100px;
}
.logo-img{
    width: 198.07px;
    height: 59px;
}
.button{
    padding: 10px 20px;
    background: #21B573;
    color: white;
    border-radius: 33px;
    border: none;
}
nav ul li a{
    color: black;
    font-weight: bold;
}
.banner{
    padding-top: 50px;
}
.banner-article .h6{
    color: #FD511A;
}
.banner-article h1{
    color: black;
    font-weight: bold;
}
.banner-h1-style{
    color: #21B573;
}
.banner-article h1, h6{
    padding: 8px;
}


/*book section*/
#books{
    margin-bottom: 100px;
}
.book-section{
    width: 250px;
    height: 250px;
    background-color: #F0FFF0;
    padding-top: 60px;
    border-radius: 10px;
}
.book-section img{
    height: 100px;
    width: 100px;

}
.book-section h4{
    padding-top: 10px;
}

.book-section:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*online courses section */
#courses h1{
    text-align: center;
    color:#413960;
    font-weight: 900;
    padding-bottom: 50px;
}
.Icon-img{
    width: 25px;
    height: 25px;
}
.card{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
#courses{
    margin-bottom: 100px;
}

/*Testimonial section*/
#Testimonial img{
    width: 150px;
    height: 150px;

}
#Testimonial{
    margin-bottom: 100px;
}

/*adding extra layout- other section*/
#others-section{
    margin-bottom: 100px;
}
#subscribe{
    height: 300px;
    background-color: #F0FFF0;
    border-radius: 20px;
}

/*footer section*/
footer{
    width: 100%;
    background-color: #282531;
}
footer p, h4{
    color: white;
    padding-top: 80px;
}
footer .article li{
    list-style: none;
    color: lightgrey;
    font-size: 16px;

}



/*Extra design to look beautiful :) -just book-section responsive */
@media screen and (max-width:780px){
    .book-section{
        width: 100%;
        margin-bottom: 15px;
    }
